@import url('https://fonts.googleapis.com/css?family=Montserrat:400i,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {font-family:"Socialico";src:url("fonts/Socialico.eot?") format("eot"),url("fonts/Socialico.woff") format("woff"),url("fonts/Socialico.ttf") format("truetype"),url("fonts/Socialico.svg#Socialico") format("svg");font-weight:normal;font-style:normal;}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1280px;margin: 0 auto;text-align: center;font-family: "Open Sans"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1280px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 7.33%;}
.col-2 {width: 17.66%;}
.col-3 {width: 24%;}
.col-4 {width: 32.33%;}
.col-5 {width: 40.66%;}
.col-6 {width: 49%;}
.col-7 {width: 57.33%;}
.col-8 {width: 67.66%;}
.col-9 {width: 74%;}
.col-10 {width: 84.33%;}
.col-11 {width: 90.66%;}
.col-12 {width: 99%;}
.inbTop{display: inline-block; vertical-align: top;}
.inbMid{display: inline-block; vertical-align: middle;}
.inbBot{display: inline-block; vertical-align: bottom;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "Socialico"}

/*button*/
.btn {font-family: "Montserrat";font-size: 13px;font-weight: 800;color: #fff;display: inline-block;padding: 21px 53px;background: #009BD4;border: 1px solid transparent;transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Montserrat"; font-size: 60px; font-weight: 800; color: #00396E;line-height: 50px;margin: 15px 0;}
h2 {font-family: "Montserrat"; font-size: 20px; font-weight: 800; color: #fff; background-color: #ED393D; max-width: 199px; padding: 11.5px 0;text-align: center !important;}
/*header*/
#header {}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;padding: 41px 22px;margin: 0 15px;}
#header nav ul li a {font-family: "Montserrat"; font-weight: bold;font-size: 13px; color: #003A6F}
#header nav ul li.active-menu a, #header nav ul li:hover a {color: #fff}
#header nav ul li.active-menu, #header nav ul li:hover {background: #009BD4 }
#header .inb{display: inline-block;vertical-align: middle;}
.hdLeft{width: 30%;}
.hdRight{width: 69%;text-align: right  }
/*banner*/
#banner {}
.bannerTop{background: url(../images/common/bannerBg.jpg)no-repeat center top; background-size: cover;padding: 200px 0;}
.bannerTop .col-6{text-align: left;margin-left: 40px;}
.bannerTop p.social{font-size: 60px; color: #003A6F;margin: 0 auto;letter-spacing: 10px}
.bannerTop p.mid{margin: 20px 0 0;max-width: 461px; padding: 2.5px 20px; background-color: #ED393D; font-family: "Montserrat"; font-size: 35px; font-weight: 800; color: #fff}
.bannerTop p.bot{font-size: 85px; font-family: "Montserrat"; font-weight: 800; color: #003A6F;margin: 40px 0 0;line-height: 60px}
.bannerTop p.bot span{font-size: 65px; margin: 0 auto;}
.bannerBot{background: url(../images/common/bannerBotBg.jpg)repeat center top; background-size: contain;}
.bannerBot .inb{display: inline-block;vertical-align: middle}
.bannerBot .col-5 img{position: relative;margin: -102px 0 -116px;}
.bannerBot .col-7{text-align: right;width: 57.33%;}
.bannerBot .col-7 p{font-size: 27px; font-weight: bold;font-family: "Montserrat"; color: #fff}
.bannerBot .col-7 p span{display: block;font-size: 70px; font-weight: 800;}
/*content*/
#content {padding: 80px 0 60px;}
/* welcome */
#welcome-section{position: relative;max-width: 1600px;width: 100%;margin: 0 auto;padding-bottom: 50px;}
#welcome-section .row{max-width: 1200px; width: 100%;}
#welcome-section .left{text-align: left;}
#welcome-section .left.col-6{width: 50.4%;}
#welcome-section .left p{font-size: 15px; color: #545454; line-height: 25px; max-width: 583px; letter-spacing: 0.5px; margin: 40px 0;}
#welcome-section .right:after{content: ""; width:199px; height: 10px;background: #ED393D; position: absolute;top:301px; right: 0;z-index:-1}
#welcome-section .right img{max-width: 539px; width: 100%;height: auto;margin: 0 0 0 30px;}
#welcome-section .left a:nth-child(4){margin-right: 15px;}
#welcome-section .box1 {background: url(../images/content/welcome/img2.jpg)no-repeat center top; background-size: 100% 100%;padding: 55px 34px;width: 91%; margin-top: 70px;}
#welcome-section .box1 p{font-family: "Montserrat"; font-size: 52px; font-weight: 800; color: #fff;margin: 0 auto; line-height: 45px;}
#welcome-section .box1 p span{font-size: 39px}
#welcome-section .lessImg{position: absolute;bottom: 0;right: 0;z-index: -1;}
/* reviews */
#reviews-section{position: relative;max-width: 1600px;width: 100%;margin: 0 auto;padding-bottom: 50px;padding: 50px 0 100px;}
#reviews-section .row{max-width: 1200px; width: 100%;}
#reviews-section .left:before{content: ""; width:199px; height: 10px;background: #ED393D; position: absolute;top:290px; left: 0;z-index:-1}
#reviews-section .left img{margin: 0 0 0 0;max-width: 618px; width: 100%;}
#reviews-section .left.col-6{width: 51%;}
#reviews-section .right{text-align: left;}
#reviews-section .right.col-6{width: 45%;margin-left: 30px;}
#reviews-section .right p {font-size: 15px; color: #545454; line-height: 25px; max-width: 482px; letter-spacing: 0.5px; margin: 40px 0;}
#reviews-section .right p.rvwAuthor{font-family: "Montserrat"; font-size: 20px; font-weight: bold; color:#00396E}
#reviews-section .right p.rvwAuthor span{color:#ED393D; margin-left: 20px; font-size: 25px}
#reviews-section .right a:nth-child(5){margin-right: 15px;}
/* our service */
#our-service-section{background: url(../images/content/services/bg1.jpg)no-repeat center top; background-size: cover; padding: 50px 0 70px;}
#our-service-section .row{max-width: 1200px; width: 100%;}
#our-service-section h1{color: #fff;margin-top: 30px;}
#our-service-section .left{text-align: left;}
#our-service-section .right{text-align: right;}
#our-service-section .right p.social{font-size: 60px; color: #fff;margin: 0 auto;letter-spacing: 10px}
#our-service-section .right p .socialico:hover{color: #009AD3;}
#our-service-section .ossBot .service-images{position: relative;margin: 40px 4px 0;}
#our-service-section .ossBot .service-images h2{font-size: 18px; max-width: unset;width:84% ;position: absolute;bottom: 30px; left: 50%;transform: translateX(-50%);}
/* contact gallery */
#contact-gallery-section{position: relative;max-width: 1600px; margin: 0 auto;width: 100%;padding: 100px 0 50px;}
#contact-gallery-section .row{max-width: 1200px; margin: 0 auto;}
#contact-gallery-section .contact{text-align: left;}
#contact-gallery-section .contact p{font-size: 15px; letter-spacing: 0.5px; color: #535353;max-width: 538px; margin: 20px 0;}
#contact-gallery-section .contact .ctc-form input[type="text"], .ctc-form textarea{width: 559px;}
#contact-gallery-section .contact .ctc-form input[type="text"]{height: 50px;margin: 0 0 5px;}
#contact-gallery-section .contact .ctc-form textarea{height: 100px;margin: 0 0 0;}
#contact-gallery-section .contact .ctc-form p.ckconsent{text-align: left;margin: 10px 0;}
#contact-gallery-section .contact form [type="submit"]{margin: 10px 0}
#contact-gallery-section .contact .contactBot .cnt-info p{font-size: 20px; font-family: "Montserrat"; font-weight: bold;color: #00396E;}
#contact-gallery-section .contact .contactBot .cnt-info p.phone{font-size: 40px;margin-left: 20px;}
#contact-gallery-section .contact .contactBot .cnt-info p.email{margin-left: 20px;}
#contact-gallery-section .contact .contactBot .cnt-info p.location{margin-left: 20px;}
#contact-gallery-section .contact .contactBot .social .socialico{display: block;font-size: 50px; color: #00396E;}

#contact-gallery-section .gallery {background-color: #009BD4; padding: 50px 0;margin-left: 19px;}
#contact-gallery-section .gallery h1{color: #fff;}
#contact-gallery-section .gallery .gallery-images{margin: 10px auto;}
#contact-gallery-section .gallery .gallery-images img{max-width: 244px; width: 100%;margin: 10px;}
#contact-gallery-section .gallery .btn {background: #ED393D}
#contact-gallery-section img.stroke{position: absolute; right: 0; bottom: 0;z-index: -1}

#logo-section{padding-top: 20px;}
/*footer*/
#footer {background-color: #003A6F; text-align: left;}
#footer .left ul {margin: 0;padding: 0}
#footer .left ul li {display: inline-block;vertical-align: middle;padding: 0 5%;}
#footer .left ul li a {font-family: "Montserrat"; font-weight: bold;font-size: 13px; color: #fff}
#footer .left ul li.active-menu a, #footer .left ul li:hover a {color: #fff}
#footer .copy, #footer .silver{margin: 5px auto;font-family: "Montserrat"; font-weight: bold;font-size: 13px; color: #fff}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
